<!DOCTYPE html>
<html>
<head>
  <title>🛡️ trhacknon EXIF Cleaner</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
   <h1>🕶️ trhacknon EXIF Killer</h1>
    <p class="subtitle">Supprime les métadonnées de tes photos et vidéos 📷📹</p>  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">🧼 Nettoyer</button>
  </form>
    <footer>Made with 💀 by <span class="highlight">trhacknon</span></footer>
  </div>
</body>
</html>
